<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <clear/>
    <add name="Development" connectionString="server=.\SQLEXPRESS;Integrated Security=true;Initial Catalog=MunkeyIssues"/>
    <add name="Integration" connectionString="server=.\SQLEXPRESS;Integrated Security=true;Initial Catalog=MunkeyIssues_Integration"/>
  </connectionStrings>
</configuration>